
<div class="p-1">
    <form>
        <div class="m-1">
            <label>Username or Email: </label>
            <input type="text" title="username" />
        </div>
        <div class="m-1">
            <label>Password: </label>
            <input type="password" title="password" />
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
    

</div>
    
   
